# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/
./myUniq
myUniq/ref
myUniq/file.txt
myUniq/uniq.empty
myUniq/uniq.test2
myUniq/uniq.test3
